.header {
    display: flex;
    justify-content: center;
    width: 1385px ;

}

.test {
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex;
    display: flex flex flex flex;
    display: flex;

}
